---
import { getCollection } from 'astro:content';
import FormattedDate from '../../../components/FormattedDate.astro';
import en from '../../../locales/en.json';
import sv from '../../../locales/sv.json';
import Body from '../../../components/Body.astro';
import {text as enText} from '../../../content/text/en/event';
import {text as svText} from '../../../content/text/sv/event';

const posts = (await getCollection('events')).sort(
(a, b) => a.data.date.valueOf() - b.data.date.valueOf(),
);

// Extract the language from the first segment of the URL path
const pathParts = Astro.url.pathname.split('/');
const lang = pathParts[1] || 'sv'; // Default to 'en' if no language is specified

// Filter the posts to get only those in the 'sv' folder
const filteredEvents = posts.filter((post) => post.slug.startsWith(`${lang}/`));

// Set the appropriate translations based on the language
const translations = lang === 'en' ? en : sv;
const text = lang === 'en' ? enText : svText;
---

<!doctype html>
<Body>
    <main>
        <div class="container">
        <section>
            <h1>{text.title}</h1>
            <div class="divider"></div>
            <p class="text-center">{text.info}</p>
            </section>
        <section>
            <ul>
                {
                    filteredEvents.map((post) => (
                        <li>
                            <a href={`/${lang}/events/${post.slug}/`}>
                                <img class="circular-image" src={post.data.heroImage} alt={post.data.title} />
                                <h4 class="title">{post.data.title}</h4>
                                <p class="text-md text-[#484647] text-center">
                                    <FormattedDate date={post.data.date} />
                                </p>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </div>
    </main>
</Body>
</html>

<style>
    ul {
        display: grid; /* Use grid layout for the ul */
        grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
        gap: 2rem; /* Space between items */
        list-style-type: none;
        margin: 1em;
        padding: 0;
    }

    ul li a {
        display: block; /* Make the whole area clickable */
        text-decoration: none; /* Remove underline */
        color: inherit; /* Inherit color from parent */
    }

    @media (max-width: 768px) {
        ul {
            grid-template-columns: 1fr; /* Stack on smaller screens */
            gap: 0.5em; /* Smaller gap */
        }
    }
</style>


