---
import { MAIL } from '../../consts';
import en from '../../locales/en.json';
import sv from '../../locales/sv.json';
import Body from '../../components/Body.astro';
import { board } from '../../content/text/sv/board';
import { text } from '../../content/text/sv/about';

// Extract the language from the first segment of the URL path
const pathParts = Astro.url.pathname.split('/');
const lang = pathParts[1] || 'sv'; // Default to 'en' if no language is specified

// Set the appropriate translations based on the language
const translations = lang === 'en' ? en : sv;
---

<!doctype html>
<Body>
    <main>
        <div class="container">
            <h1>{text.title}</h1>
            <div class="divider"></div>
            <img src="/images/board/Styrelsen.jpg" alt="Picture of D-chip" class="big-image" />
            <p>{text.description}</p>
        </div>
        <h1 class="mt-24 mb-12"><span>{text.board}</span></h1>

        <div class="president-grid-container grid grid-cols-1 md:w-1/2 lg:w-1/3 px-4">
            {
                board.president.map(member => (
                    <div class="card">
                        <img src={member.image} alt={member.name} class="circular-image" />
                        <h3>{member.position}</h3>
                        <div class="divider"></div>
                        <h4>{member.name}, {member.class}</h4>
                        <p class="centered">{member.description}</p>
                        <p class="contact">Kontakt: <a href={`mailto:${member.contact}`}>{member.contact}</a></p>
                    </div>
                ))
            }
        </div>

        <div class="grid-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-4">
            {
                board.teamMembers.map(member => (
                    <div class="card">
                        <img src={member.image} alt={member.name} class="circular-image" />
                        <h3>{member.position}</h3>
                        <div class="divider"></div>
                        <h4>{member.name}, {member.class}</h4>
                        <p class="centered">{member.description}</p>
                        <p class="contact">Kontakt: <a href={`mailto:${member.contact}`}>{member.contact}</a></p>
                    </div>
                ))
            }
        </div>

        <h1 class="mt-24 mb-12"><span>{text.volunteers}</span></h1>

        <div class="grid-container grid grid-cols-1 md:grid-cols-2">
            <div class="card">
                <h3>{text.auditors}</h3>
                <div class="divider"></div>
                {
                    board.revisorer.map(member => (
                        <h4>{member.name}, {member.class}</h4>
                    ))
                }
                <p>{text.auditorsDescription}</p>
            </div>

            <div class="card"> 
                <h3>{text.valberedning}</h3>
                <div class="divider"></div>
                {
                    board.valberedning.map(member => (
                        <h4>{member.name}, {member.class}</h4>
                    ))
                }
                <p>{text.valberedningDescription}</p>
            </div>
        </div>

        <div class="jubilee-card">
            <h3>{text.jubilee}</h3>
            <div class="divider"></div>
            <div class="jubilee-names m-2 ">
                {
                    board.jubileegroup.map(member => (
                        <h4 class="mx-4">{member.name}, {member.class}</h4>
                    ))
                }
            </div>
            <p class="text-center w-[90%]">{text.jubileeDescription}</p>
        </div>

        <div class="container mt-12">
            <h1>{text.engage}</h1>
            <p class="text-center">{text.engageDescription} {MAIL}.</p>
            <a href={`/${lang}/contact`} class="contact-button">{text.button}</a>
        </div>
    </main>
</Body>
</html>

<style>
    h1 span {
        background-color: rgba(255, 255, 255, 0.7); /* Optional background for contrast */
        border: 1px solid #e0e0e0;
        border-radius: 8px; /* Optional: round the corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow */
        padding: 0.25em 0.75em;
        margin: 1em auto;
    }

    .president-grid-container {
        display: block;              /* Ensure the image behaves as a block element */
        margin: 1em auto;
        height: auto;               /* Maintain aspect ratio */
        border-radius: 8px;         /* Optional: round the corners */
    }

    .grid-container {
        display: grid;
        gap: 20px;
        margin: 1em 0;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid #e0e0e0;
        border-radius: 50px;
        padding: 1em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow */
        transition: transform 0.2s;
    }

    .jubilee-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid #e0e0e0;
        border-radius: 50px;
        padding: 1em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    .jubilee-names {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 90%;
        text-align: center;
    }

    .contact {
        margin-top: auto;
        text-align: center;
        width: 100%;
    }

    .contact a {
        color: #f180a1; /* Blue color for links */
        text-decoration: none;
    }

    .contact a:hover {
        text-decoration: underline;
    }

    @media (max-width: 768px) {
    .jubilee-names {
        grid-template-columns: repeat(2, 1fr); /* 2 kolumner på små skärmar */
    }
}

    /* För ännu mindre skärmar (max-width 480px) - använd 1 kolumn */
    @media (max-width: 480px) {
        .jubilee-names {
            grid-template-columns: 1fr; /* 1 kolumn på mycket små skärmar */
        }
    }
</style>

