---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { MAIL } from '../../consts';
import en from '../../locales/en.json';
import sv from '../../locales/sv.json';


// Extract the language from the first segment of the URL path
const pathParts = Astro.url.pathname.split('/');
const lang = pathParts[1] || 'sv'; // Default to 'en' if no language is specified

// Set the appropriate translations based on the language
const translations = lang === 'en' ? en : sv;

const president = [
{
    name: "Linnea Sandsjö",
	position: "Ordförande",
    class: "C22",
    description: "Som ordförande är man den som styr och håller i möten, har kontakten inom gruppen och externt. Man är också den som är mer drivande, ser till att allt hänger samman och delegerar arbetet.",
    contact: "ordforande@dsek.se",
    image: "/images/board/linnea.png" // Add the actual image path
  }
]
const teamMembers = [
  {
    name: "Hanna Arendt",
	position: "Vice Ordförande",
    class: "C23",
    description: "Som vice ordförande är man ordförandes högra hand och representerar D-chip i ordförandens frånvaro. Man hjälper till och bollar idéer med styrelsen, lär känna D-chips medlemmar och hittar på mycket annat skoj tillsammans med både styrelsen och medlemmarna.",
    contact: "d-chipvordforande@dsek.se",
    image: "/images/board/hanna.jpg" // Add the actual image path
  },
  {
    name: "Ylva Lengborg",
	position: "Eventansvarig",
    class: "C23",
    description: "Som eventansvarig planerar och anordnar man diverse evenemang som hålls under året. Man har stor frihet att verkliggöra sina idéer för evenemang som är kul, inspirerande och givande. I styrelsen hjälps vi åt och skapar allt från cykelfester till studiekvällar.",
    contact: "d-chipevent@dsek.se",
    image: "/images/board/ylva.jpg" // Add the actual image path
  },
  {
    name: "Ester Nielsen Gulis",
	position: "Informationsansvarig",
    class: "C22",
    description: "Som informationsansvarig har man i uppgift att vara ansvarig för föreningens hemsida och sociala medier. Man ska även ansvara för distributionen av intern information rörande D-Chip. Posten erbjuder möjligheten att lära sig mer inom webbutveckling, sociala medier och utöka sin kreativitet.",
    contact: "d-chipinfo@dsek.se",
    image: "/images/board/ester.png" // Add the actual image path
  },
  {
    name: "Elly Hedin Oleniusson",
	position: "Näringslivsansvarig",
    class: "D23",
    description: "Som näringslivsansvarig sköter man kontakten med företag som vill samarbeta med oss. Man bestämmer själv vilka företag och vad för typ av event ni vill hålla tillsammans. Det är en jättebra möjlighet att knyta nya kontakter och få en inblick i hur företag och samarbeten fungerar.",
    contact: "d-chipnaringsliv@dsek.se",
    image: "/images/board/elly.jpg" // Add the actual image path
  }, 
  {
    name: "Emma Kujala",
	position: "Ekonomiansvarig",
    class: "C21",
    description: "Som ekonomiansvarig har man i uppgift att i samråd med styrelsen ha kontroll över föreningens pengar. Rollen kräver ingen tidigare erfarenhet av ekonomi och är en ypperlig chans att lära sig mer om hur ekonomin fungerar i en förening.",
    contact: "d-chipekonomi@dsek.se",
    image: "/images/board/emma.png" // Add the actual image path
  },
  {
  name: "Linn Eripe",
	position: "Sekreterare",
    class: "C23",
    description: "Som sekreterare har man i uppgift att protokollföra alla föreningsmöten och styrelsemöten samt se till att dessa protokoll justeras och offentliggörs på lämpligt sätt. Som sekreterare får du bra insikt i hur en styrelse fungerar och en möjlighet att lãra kanna nya människor och vara med på roliga event.",
    contact: "d-chipsekreterare@dsek.se",
    image: "/images/board/linn.jpg" // Add the actual image path
  },

];
const funkisar = [
{
    name: "Kristina Sedelius",
	position: "Revisor",
    class: "D21",
    description: "A passionate learner and aspiring developer.",
    contact: "d-chiprevisor@dsek.se",
    image: "/images/board/hanna.jpg" // Add the actual image path
  },
  {
    name: "Linnéa Samuelsson",
	position: "Revisor",
    class: "C21",
    description: "A passionate learner and aspiring developer.",
    contact: "d-chiprevisor@dsek.se",
    image: "/images/board/hanna.jpg" // Add the actual image path
  }
]
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title="Om oss" description="Träffa oss!" />
</head>
<body>
    <Header />
    <main>
		<h1>Vad är D-chip?</h1>
		<p>D-Chip är föreningen på D-sektionen vid LTH för alla tjejer och icke-binära som läser Datateknik eller InfoCom.
			
			Föreningen bildades hösten 1995 för att främja flickornas framtid och trivsel på sektionen samt att verka för mer kvinnligt engagemang.
			Vi försöker öka trivseln bland tjejerna genom att hitta på roliga saker tillsammans och lära känna varandra.
			
			D-Chip välkomnar alla nya tjejer och icke-binära som börjar läsa på sektionen, bland annat genom att anordna en välkomstlunch för alla tjejer innan skolan börjar. Alla blir medlemmar efter den hemliga invigningsriten. Fram tills denna ägt rum är man ett Micro-Chip.
			
			Ett D-Chip har förutom råsa (Datateknik) eller lila (InfoCom) spegater i sin tofs även en råsa rosett.</p>
			<img src="/images/main.png" alt="Picture of D-chip" class="big-image" />
		<h1>Styrelsen</h1>
        <div class="president-grid-container">
            {
                president.map(member => (
                    <div class="card">
                        <img src={member.image} alt={member.name} class="profile-image" />
                        <h3>{member.position}</h3>
                        <h4>{member.name}, {member.class}</h4>
                        <p>{member.description}</p>
                        <p class="contact">Kontakt: <a href={`mailto:${member.contact}`}>{member.contact}</a></p>
                    </div>
                ))
            }
        </div>
        <div class="grid-container">
            {
                teamMembers.map(member => (
                    <div class="card">
                        <img src={member.image} alt={member.name} class="profile-image" />
                        <h3>{member.position}</h3>
                        <h4>{member.name}, {member.class}</h4>
                        <p>{member.description}</p>
                        <p class="contact">Kontakt: <a href={`mailto:${member.contact}`}>{member.contact}</a></p>
                    </div>
                ))
            }
        </div>
        <h1>Funktionärer</h1>
        <div class="grid-container">
            {
                funkisar.map(member => (
                    <div class="card">
                        <h3>{member.position}</h3>
                        <h4>{member.name}, {member.class}</h4>
                        <p>{member.description}</p>
                    </div>
                ))
            }
        </div>
        <div>
            <h1>Vill du engagera dig?</h1>
            <p> Vad kul! Hör av dig till oss på {MAIL}.</p>
            <a href={`/${lang}/contact`} class="contact-button">Kontakta oss</a>
        </div>
    </main>
    <Footer />
</body>
</html>

<style>
    body {
        margin: 0;
        padding: 1em;
        color: #333;
        text-align: center;
    }

    main {
        max-width: 1200px;
        margin: auto;
        padding: 2em;
    }

	.big-image {
		display: block;              /* Ensure the image behaves as a block element */
    margin-left: auto;          /* Center the image horizontally */
    margin-right: auto;         /* Center the image horizontally */
    width: 50%;                 /* Adjust the width as needed */
    height: auto;               /* Maintain aspect ratio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional shadow */
    border-radius: 8px;         /* Optional: round the corners */
}

    h1 {
        font-size: 3.5em;
        margin-bottom: 0.5em;
		padding-top: 0.5em;
        color: #4a4a4a;
    }

    .president-grid-container {
        display: block;              /* Ensure the image behaves as a block element */
        margin-left: auto;          /* Center the image horizontally */
        margin-right: auto;         /* Center the image horizontally */
        margin-bottom: 1em;
        width: 32.5%;                 /* Adjust the width as needed */
        height: auto;               /* Maintain aspect ratio */
        border-radius: 8px;         /* Optional: round the corners */
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* First row will have 3 columns */
        gap: 20px;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 1em;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

    /*.card:hover {
        transform: translateY(-5px);
    }*/

    .profile-image {
        display: block;              /* Ensure the image behaves as a block element */
    margin-left: auto;          /* Center the image horizontally */
    margin-right: auto;         /* Center the image horizontally */
        width: 70%;
        height: auto;
        border-radius: 50%; /* Makes the image circular */
    }

    .contact a {
        color: #f180a1; /* Blue color for links */
        text-decoration: none;
    }

    .contact a:hover {
        text-decoration: underline;
    }

    .contact-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f180a1; /* Button color */
    color: white;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
    transition: background-color 0.3s ease;
  }

  .contact-button:hover {
    background-color: #ff3366; /* Darker color on hover */
  }

	footer {
		margin-top: 2em;
	}
</style>

