---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { MAIL } from '../../consts';
import en from '../../locales/en.json';
import sv from '../../locales/sv.json';


// Extract the language from the first segment of the URL path
const pathParts = Astro.url.pathname.split('/');
const lang = pathParts[1] || 'sv'; // Default to 'en' if no language is specified

// Set the appropriate translations based on the language
const translations = lang === 'en' ? en : sv;

const president = [
{
    name: "Linnea Sandsjö",
	position: "Ordförande",
    class: "C22",
    description: "Ordföranden har i uppgift att i samråd med styrelsen utöva ledningen av föreningen, samt att i officiella sammanhang representera föreningen.",
    contact: "d-chipordforande@dsek.se",
    image: "/images/board/linnea.png" // Add the actual image path
  }
]
const teamMembers = [
  {
    name: "Hanna Arendt",
	position: "Vice Ordförande",
    class: "C23",
    description: "Vice ordförande har i uppgift att representera föreningen i ordförandes frånvaro samt utföra de uppgifter, som ligger i föreningens ändamål, vilka delegeras av ordförande.",
    contact: "d-chipvordforande@dsek.se",
    image: "/images/board/hanna.jpg" // image path
  },
  {
    name: "Ylva Lengborg",
	position: "Eventansvarig",
    class: "C23",
    description: "Eventansvarig har huvudansvaret för de event som anordnas av föreningen och att handha föreningens säljbara artiklar.",
    contact: "d-chipevent@dsek.se",
    image: "/images/board/ylva.jpg" // image path
  },
  {
    name: "Ester Nielsen Gulis",
	position: "Informationsansvarig",
    class: "C22",
    description: "Informationsansvarig har i uppgift att vara ansvarig för föreningens hemsida och sociala medier. Hen ska även ansvara för distributionen av intern information rörande D-Chip.",
    contact: "d-chipinfo@dsek.se",
    image: "/images/board/ester.png" // image path
  },
  {
    name: "Elly Hedin Oleniusson",
	position: "Näringslivsansvarig",
    class: "D23",
    description: "Näringslivsansvarig har i uppgift att förvalta och initiera föreningens företagskontakter.",
    contact: "d-chipnaringsliv@dsek.se",
    image: "/images/board/elly.jpg" // image path
  }, 
  {
    name: "Emma Kujala",
	position: "Ekonomiansvarig",
    class: "C21",
    description: "Ekonomiansvarig har i uppgift att i samråd med styrelsen ha kontroll över föreningens pengar.",
    contact: "d-chipekonomi@dsek.se",
    image: "/images/board/emma.png" // image path
  },
  {
  name: "Linn Eripe",
	position: "Sekreterare",
    class: "C23",
    description: "Sekreteraren har i uppgift att protokollföra alla föreningsmöten och styrelsemöten samt se till att dessa protokoll justeras och offentliggörs på lämpligt sätt.",
    contact: "d-chipsekreterare@dsek.se",
    image: "/images/board/linn.jpg" // image path
  },

];
const revisorer = [
{
    name: "Kristina Sedelius",
	position: "Revisor",
    class: "D21",
    description: "A passionate learner and aspiring developer.",
    contact: "d-chiprevisor@dsek.se",
    image: "/images/board/hanna.jpg" // Add the actual image path
  },
  {
    name: "Linnéa Samuelsson",
	position: "Revisor",
    class: "C21",
    description: "A passionate learner and aspiring developer.",
    contact: "d-chiprevisor@dsek.se",
    image: "/images/board/hanna.jpg" // Add the actual image path
  },
];
const valberedning = [
{
    name: "Clara Schagerström",
	position: "Valberedning",
    class: "C23",
    description: "A passionate learner and aspiring developer.",
    contact: "d-chiprevisor@dsek.se",
    image: "/images/board/hanna.jpg" // Add the actual image path
  },
  {
    name: "Elsa Ryrlén",
	position: "Valberedning",
    class: "C21",
    description: "Föreningens valberedning utgörs av en representant från var och en av de fyra senaste årskurserna på Datateknik och Infocom. Valberedningen utgörs av minst två representanter.",
    contact: "d-chiprevisor@dsek.se",
    image: "/images/board/hanna.jpg" // Add the actual image path
  },
  {
    name: "Julia Blomgren",
	position: "Valberedning",
    class: "D21",
    description: "A passionate learner and aspiring developer.",
    contact: "d-chiprevisor@dsek.se",
    image: "/images/board/hanna.jpg" // Add the actual image path
  }
];
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title="Om oss" description="Träffa oss!" />
</head>
<body>
    <Header />
    <main>
		<h1>Vad är D-chip?</h1>
		<p>D-Chip är en fristående förening som bildades hösten 1995. Vårt syfte är att främja kvinnors och icke-binäras 
            trivsel och trygghet på D-sektionen vid Teknologkåren vid Lunds Tekniska Högskola samt verka 
            för att stärka deras engagemang.<br><br>

            Under hösten anordnar vi bland annat en välkomstlunch dagen innan studiestart och
            ett mentorskapsprogram för alla nya studenter, samt en rad andra aktiviteter och evenemang under resterande tid av året.<br><br>

            Som nolla kallas man <b> microchip. </b> När man blivit upphöjd till etta får man kalla sig <b> D-Chip. </b> 
            Alumner kallas även för <b> Super Hacker Babes,</b> en tradition sedan föreningen startade för 30 år sedan.
            Ett D-Chip har förutom råsa (datateknik) eller lila (infocom) spegater i sin tofs även en råsa rosett.</p>
			
            <img src="/images/main.png" alt="Picture of D-chip" class="big-image" />
		<h1>Styrelsen</h1>
        <div class="president-grid-container">
            {
                president.map(member => (
                    <div class="card">
                        <img src={member.image} alt={member.name} class="profile-image" />
                        <h3>{member.position}</h3>
                        <div class="divider"></div>
                        <h4>{member.name}, {member.class}</h4>
                        <p>{member.description}</p>
                        <p class="contact">Kontakt: <a href={`mailto:${member.contact}`}>{member.contact}</a></p>
                    </div>
                ))
            }
        </div>
        <div class="grid-container">
            {
                teamMembers.map(member => (
                    <div class="card">
                        <img src={member.image} alt={member.name} class="profile-image" />
                        <h3>{member.position}</h3>
                        <div class="divider"></div>
                        <h4>{member.name}, {member.class}</h4>
                        <p>{member.description}</p>
                        <p class="contact">Kontakt: <a href={`mailto:${member.contact}`}>{member.contact}</a></p>
                    </div>
                ))
            }
        </div>
        <h1>Funktionärer</h1>
        <div class="grid-container">
            <div class="card">
                <h3>Revisorer</h3>
                <div class="divider"></div>
            {
                revisorer.map(member => (
                    <h4>{member.name}, {member.class}</h4>
                ))
            }
            <p>Föreningen skall ha minst en, högst två, revisorer. Revisorerna skall vara myndiga svenska medborgare och medlemmar av D-sektionen vid Lunds Tekniska Högskola samt ha den insikt i ekonomiska förhållanden som uppdraget kräver.</p>
            </div>
            <div class="card"> 
            <h3>Valberedning</h3>
            <div class="divider"></div>
            {
                valberedning.map(member => (
                    <h4>{member.name}, {member.class}</h4>
                ))
            }
            <p>Föreningens valberedning utgörs av en representant från var och en av de fyra senaste årskurserna på Datateknik och Infocom. Valberedningen utgörs av minst två representanter.</p>
            </div>
        </div>
            
        </div>
        <div>
            <h1>Vill du engagera dig?</h1>
            <p> Vad kul! Hör av dig till oss på {MAIL}.</p>
            <a href={`/${lang}/contact`} class="contact-button">Kontakta oss</a>
        </div>
    </main>
    <Footer />
</body>
</html>

<style>
    body {
        margin: 0;
        padding: 1em;
        color: #333;
        text-align: center;
    }

    main {
        max-width: 1200px;
        margin: auto;
        padding: 2em;
    }

	.big-image {
		display: block;              /* Ensure the image behaves as a block element */
    margin-left: auto;          /* Center the image horizontally */
    margin-right: auto;         /* Center the image horizontally */
    width: 50%;                 /* Adjust the width as needed */
    height: auto;               /* Maintain aspect ratio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional shadow */
    border-radius: 50px;         /* Optional: round the corners */
}

    h1 {
        font-size: 3.5em;
        margin-bottom: 0.5em;
		padding-top: 0.5em;
        color: #4a4a4a;
    }

    .president-grid-container {
        display: block;              /* Ensure the image behaves as a block element */
        margin-left: auto;          /* Center the image horizontally */
        margin-right: auto;         /* Center the image horizontally */
        margin-bottom: 1em;
        width: 32.5%;                 /* Adjust the width as needed */
        height: auto;               /* Maintain aspect ratio */
        border-radius: 8px;         /* Optional: round the corners */
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* First row will have 3 columns */
        gap: 20px;
    }

    .grid-container:nth-of-type(3) {
        grid-template-columns: repeat(2, 1fr); /* First row will have 3 columns */
    }

    .card {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid #e0e0e0;
        border-radius: 50px;
        padding: 1em;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

    /*.card:hover {
        transform: translateY(-5px);
    }*/

    .profile-image {
        display: block;              /* Ensure the image behaves as a block element */
        margin-left: auto;          /* Center the image horizontally */
        margin-right: auto;
        /* Center the image horizontally */
        width: 250px;
        height: 250px;
        border-radius: 50%; /* Makes the image circular */
    }

    .contact {
        margin-top: auto;
    }

    .contact a {
        color: #f180a1; /* Blue color for links */
        text-decoration: none;
    }

    .contact a:hover {
        text-decoration: underline;
    }

    .contact-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1em;
        background-color: #f180a1; /* Button color */
        color: white;
        border-radius: 8px;
        text-decoration: none;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
        transition: background-color 0.3s ease;
    }

    .contact-button:hover {
        background-color: #f36a93; /* Darker color on hover */
    }

    .divider {
        height: 5px;
        width: 90%;
        background-color: #f180a1;
        border-radius: 8px;
        margin-bottom: 10px;
        opacity: 0.2;
    }

	footer {
		margin-top: 2em;
	}
</style>

