---
import en from '../../locales/en.json';
import sv from '../../locales/sv.json';
import Body from '../../components/Body.astro';
import { text } from '../../content/text/sv/newstudent.ts';

// Extract the language from the first segment of the URL path
const pathParts = Astro.url.pathname.split('/');
const lang = pathParts[1] || 'sv'; // Default to 'en' if no language is specified

// Set the appropriate translations based on the language
const translations = lang === 'en' ? en : sv;

---

<!doctype html>
<Body>
    <main>
        <div>
            <div class="container">
            <h1>{text.title}</h1>
            <h3>{text.subTitle}</h3>
            <p class="text-center"> {text.info} </p> <br>
        
            <h2>{text.nollning}</h2>
            <div class="divider"></div>
            <p> {text.nollningInfo}<br>
                <! På D-sektionens egen nollningssida hittar du massvis med bra information: >
            </p> <br>
            <! <a href={`https://www.dsek.se/nollning`} class="contact-button"> <! Till D-sektionens nollningssida</a>
        
        
            <h2>{text.welcomingLunch}</h2>
            <div class="divider"></div>
            <p>{text.welcomingLunchInfo}</p> <br>
        
        
            <h2>{text.mentorship}</h2>
            <div class="divider"></div>
            <p>{text.mentorshipInfo.split('\n').map(line => <>{line}<br/></>)}</p>
        </div>
    </main>
</Body>
</html>
