---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import en from '../locales/en.json';
import sv from '../locales/sv.json';

// Extract the language from the first segment of the URL path
const pathParts = Astro.url.pathname.split('/');
const lang = pathParts[1] || 'sv'; // Default to 'sv' if no language is specified

const pathname = Astro.request.url; // Current path
const isEnglish = pathname.startsWith('/en');

// Set the appropriate translations based on the language 				
const translations = lang === 'en' ? en : sv;

//var w = window.innerWidth;
---

<header class="bg-[#f8e7ec] py-4 w-full">
    <nav class="flex justify-between w-[92%] mx-auto">
        <div>
            <a href={`/${lang}`}>
                <img class="w-44 cursor-pointer py-1" src="/images/dchip_icon.png" alt="...">
            </a>
            
        </div>
        <div
            class="nav-links duration-500 absolut bg-[#f8e7ec] min-h-fit left-0 w-auto xl:top-[-100%] hidden xl:flex items-center px-4">
            <ul class="flex xl:flex-row flex-col xl:items-center xl:gap-10 gap-4">
                <HeaderLink href={`/${lang}/`}>{translations.home}</HeaderLink>
                <HeaderLink href={`/${lang}/about`}>{translations.about}</HeaderLink>
				<HeaderLink href={`/${lang}/news`}>{translations.news}</HeaderLink>
                <HeaderLink href={`/${lang}/events`}>{translations.events}</HeaderLink>
                <HeaderLink href={`/${lang}/files`}>{translations.files}</HeaderLink>
                <HeaderLink href={`/${lang}/company`}>{translations.company}</HeaderLink>
                <HeaderLink href={`/${lang}/gallery`}>{translations.gallery}</HeaderLink>
                <HeaderLink href={`/${lang}/contact`}>{translations.contact}</HeaderLink>
				<HeaderLink href={`/${lang}/newstudent`}>{translations.newstudent}</HeaderLink>
        </div>
        <div class="flex w-44 justify-center items-center gap-6 ">
            <a class="text-[var(--black)]" href={lang === 'en' ? `/sv/` : `/en/`}>
				{lang === 'en' ? 'Svenska' : 'English'}</a>
            <ion-icon name="menu" class="hamburger text-3xl cursor-pointer xl:hidden"></ion-icon>
            <!--  <ion-icon name="close" class="hamburger text-3xl cursor-pointer lg:hidden"></ion-icon> -->
        </div>
</header>